<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/error.css}" rel="stylesheet"/>
	<link th:href="@{/css/index.css}" rel="stylesheet"/>
	<title>Error has occurred</title>
</head>
<body>
<h1>Error has occurred</h1>
<table>
	<tr>
		<td>Date</td>
		<td th:text="${timestamp}"/>
	</tr>
	<tr>
		<td>Path</td>
		<td th:text="${path}"/>
	</tr>
	<tr>
		<td>Error</td>
		<td th:text="${error}"/>
	</tr>
	<tr>
		<td>Status</td>
		<td th:text="${status}"/>
	</tr>
	<tr>
		<td>Stacktrace</td>
		<td>
			<pre th:text="${trace}"/>
		</td>
	</tr>
</table>
</body>
</html>