<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
	<link th:href="@{/css/index.css}" rel="stylesheet"/>
	<link th:href="@{/css/telemetry.css}" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script th:src="@{/js/chart.js}"></script>
	<script th:src="@{/js/variables.js}"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script th:inline="javascript">
		const title = [[${title}]];
		const subtitle = [[${subtitle}]];
		const laps = [[${laps}]];
	</script>
</head>
<body>
<figure class="highcharts-figure">
	<div>
		<label for="lap"></label>
		<select id="lap">
			<option disabled selected hidden value>Select lap</option>
			<option th:each="lap,iter : ${laps}" th:value="${iter.index}"
					th:text="${lap.number + ' (' + lap.lapTime + ') '}"></option>
		</select>
		<div id="columns">
			<th:block th:each="column : ${columns}">
				<input type="checkbox" th:id="${column.getKey()}"/>
				<label th:for="${column.getKey()}" th:text="${column.getValue()}"></label>
			</th:block>
		</div>
	</div>
	<div id="mainChart"></div>
</figure>
</body>
</html>